<footer class="footer">
  <div class="container">
    <div class="footer-column">
      <div class="logo">
        <img
          src="../../assets/img/accueil/Logo-MSL2.png"
          alt="logo MSL-ITECH"
        />
      </div>
      <p>
        Accélérez la transformation numérique de votre entreprise avec
        MSL-Itech, expert en implémentation et intégration d'Odoo.
      </p>
    </div>
    <div class="footer-column">
      <h3>Navigation</h3>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
        <li>
          <a routerLink="/services" routerLinkActive="active">Nos services</a>
        </li>
        <li>
          <a routerLink="/job" routerLinkActive="active">Offres d'emploi</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Liens rapides</h3>
      <ul>
        <li>
          <a routerLink="/contact" routerLinkActive="active">Contactez-nous</a>
        </li>
        <li><a routerLink="/faqs" routerLinkActive="active">FAQs</a></li>
        <li>
          <a routerLink="/about" routerLinkActive="active">À propos de nous</a>
        </li>
        <li>
          <a routerLink="/job" routerLinkActive="active">Offres d'emploi</a>
        </li>
        <li>
          <a routerLink="/prendre-rendez-vous" routerLinkActive="active"
            >Prendre rendez-vous</a
          >
        </li>
        <li>
          <a routerLink="/reserver-demo" routerLinkActive="active"
            >Réserver une démo</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-contact">
    <span
      ><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Bureaux
      internationaux : Belgique, Maroc, Canada</span
    >
    <span
      ><i class="fa fa-phone-alt" aria-hidden="true"></i>
      <a href="tel:+3228860549"> +32 2 886 05 49</a> /
      <a href="tel:+12046500765">+1 204 650 0765</a> /
      <a href="tel:028860549">02 886 0549</a>
    </span>
    <span
      ><i class="fa fa-envelope" aria-hidden="true"></i>
      <a href="mailto:info&#64;msl-itech.com"> info&#64;msl-itech.com</a>
    </span>
    <div class="footer-social">
      <a
        href="https://www.facebook.com/votrepage"
        class="text-white me-3"
        title="Facebook"
      >
        <i class="fab fa-facebook-f" aria-hidden="true"></i>
      </a>
      <a
        href="https://twitter.com/votreprofil"
        class="text-white me-3"
        title="Twitter"
      >
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </a>
      <a
        href="https://www.youtube.com/channel/votrechaine"
        class="text-white me-3"
        title="YouTube"
      >
        <i class="fab fa-youtube" aria-hidden="true"></i>
      </a>
      <a
        href="https://www.linkedin.com/company/mslitech/"
        class="text-white"
        title="LinkedIn"
      >
        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-line"></div>
    <p>&copy; 2024 MSL-ITECH • Tous droits réservés</p>
  </div>
</footer>
