<footer class="footer">
    <div class="container">
      <div class="footer-column">
        <div class="logo">
          <img src="../../assets/img/accueil/Logo-MSL2.png" alt="logo MSL-ITECH" />
        </div>
        <p>
          Accélérez la transformation digitale de votre entreprise avec MSL-Itech,
          expert en implémentation et intégration d'Odoo
        </p>
      </div>
      <div class="footer-column">
        <h3>Navigation</h3>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/services" routerLinkActive="active">Nos services</a></li>
          <li><a routerLink="/job" routerLinkActive="active">Job</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Quick Link</h3>
        <ul>
          <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
          <li><a routerLink="/faqs" routerLinkActive="active">FAQs</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/job" routerLinkActive="active">Job</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-contact">
      <p><fa-icon [icon]="['fas', 'map-marker-alt']" aria-hidden="true"></fa-icon> Bureaux internationaux : Belgique, Maroc, Canada</p>
      <p><fa-icon [icon]="['fas', 'phone-alt']" aria-hidden="true"></fa-icon> +XXXXXXXXXXXXXX</p>
      <p><fa-icon [icon]="['fas', 'envelope']" aria-hidden="true"></fa-icon> info&#64;msl-itech.com</p>
      <div class="footer-social">
        <a href="#"><fa-icon [icon]="['fab', 'facebook-f']" aria-hidden="true" title="Facebook"></fa-icon></a>
        <a href="#"><fa-icon [icon]="['fab', 'twitter']" aria-hidden="true" title="Twitter"></fa-icon></a>
        <a href="#"><fa-icon [icon]="['fab', 'youtube']" aria-hidden="true" title="YouTube"></fa-icon></a>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-line"></div>
      <p>&copy; 2024 MSL-ITECH • All Rights Reserved</p>
    </div>
  </footer>
  