<footer class="footer">
    <div class="container">
      <div class="footer-column">
        <div class="logo">
          <img src="../../assets/img/accueil/Logo-MSL2.png" alt="logo MSL-ITECH" />
        </div>
        <p>
          Accélérez la transformation digitale de votre entreprise avec MSL-Itech,
          expert en implémentation et intégration d'Odoo
        </p>
      </div>
      <div class="footer-column">
        <h3>Navigation</h3>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/services" routerLinkActive="active">Nos services</a></li>
          <li><a routerLink="/job" routerLinkActive="active">Job</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Quick Link</h3>
        <ul>
          <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
          <li><a routerLink="/faqs" routerLinkActive="active">FAQs</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/job" routerLinkActive="active">Job</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-contact">
      <span><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Bureaux internationaux : Belgique, Maroc, Canada</span>
      <span><i class="fa fa-phone-alt" aria-hidden="true"></i> +32 2 883 86 86 / +212 6 89 30 62 78 </span>
      <span><i class="fa fa-envelope" aria-hidden="true"></i> info&#64;msl-itech.com</span>
      <div class="footer-social">
        <div class="footer-social">
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f" aria-hidden="true" title="Facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter" aria-hidden="true" title="Twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-youtube" aria-hidden="true" title="YouTube"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-line"></div>
      <p>&copy; 2024 MSL-ITECH • All Rights Reserved</p>
    </div>
  </footer>
  