/* Certification Section */
.certification-section {
    background-color: #114D5A;
    color: white;
    padding: 60px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.certification-content {
    flex: 1;
    max-width: 600px;
    position: relative; /* Pour l'underline */
}

.certification-content h3 {
    color: #ffc107;
    padding-bottom: 8px;
    border-bottom: 2px solid #ffc107;
    width: 170px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
}



.certification-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.2;
}

.certification-content h2 span {
    color: #ffc107;
}

.certification-content p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: left;
    color: #fff;
}

.certification-badge {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.certification-badge img {
    max-width: 300px;
    height: auto;
}

/* Media Queries */

/* Tablettes */
@media (max-width: 992px) {
    .certification-content h2 {
        font-size: 2em;
    }

    .certification-content p {
        font-size: 1em;
    }

    .certification-badge img {
        max-width: 250px;
    }
}

/* Mobiles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .certification-content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .certification-content h3 {
        width: auto;
        margin: 0 auto 10px auto;
    }

    .certification-content .underline {
        left: 50%;
        transform: translateX(-50%);
    }

    .certification-content h2 {
        font-size: 2em;
    }

    .certification-content p {
        font-size: 1em;
    }

    .certification-badge {
        justify-content: center;
    }

    .certification-badge img {
        max-width: 200px;
    }
}

/* Très petits écrans */
@media (max-width: 480px) {
    .certification-section {
        padding: 40px 0;
    }

    .certification-content h2 {
        font-size: 1.8em;
    }

    .certification-content p {
        font-size: 0.9em;
    }

    .certification-badge img {
        max-width: 150px;
    }
}
