<section class="certification-section">
  <div class="container">
    <div class="certification-content">
      <h3>{{ "PAGES.CERTIFICATION.TITLE" | translate }}</h3>
      <div class="underline"></div>
      <h2 [innerHTML]="'PAGES.CERTIFICATION.SUBTITLE' | translate"></h2>
      <p>{{ "PAGES.CERTIFICATION.DESCRIPTION" | translate }}</p>
    </div>
    <div class="certification-badge">
      <img
        src="../../assets/img/accueil/odoo17.webp"
        alt="Odoo Certification"
      />
    </div>
  </div>
</section>
