<!-- <main>
    <section class="hero">
        <div>
            <div class="svg-container">
                <div class="text-content2">
                    <h1>Devenir membre de <span class="highlight">MSL-ITECH</span></h1>
                </div>
                <svg class="highlight-svg" xmlns="http://www.w3.org/2000/svg" width="317" height="19" viewBox="0 0 317 19" fill="none">
                    <path d="M159.714 5.7798C163.124 5.58599 229.095 1.67829 265.063 0.469875C280.274 -0.0583299 295.511 -0.0203351 310.587 0.022732C312.811 0.0759325 316.512 1.22355 316.875 2.23562C317.422 3.81011 316.097 6.118 314.404 7.29981C309.785 10.4918 303.64 11.4545 297.3 11.6281C274.006 12.3767 250.717 13.2393 227.416 13.8751C168.137 15.4927 108.688 16.8873 49.4046 18.3908C37.9925 18.7025 26.4125 18.7911 14.9942 18.9887C9.28818 19.1445 4.46185 17.6866 1.15079 14.5959C-0.172687 13.3824 -0.278883 11.001 0.447048 9.50383C1.03508 8.46515 4.01171 7.58987 5.91372 7.53794C56.3167 6.16359 153.35 3.59731 155.818 3.44024C159.413 3.21224 156.303 5.97106 159.713 5.77852L159.714 5.7798Z" fill="#FAC83B"/>
                </svg>
            </div>
            <p>Devenez membre de MSL Itech et rejoignez une communauté dédiée à la transformation digitale des entreprises. En tant que membre, vous bénéficiez d’un accès privilégié à nos services personnalisés, à des formations exclusives sur Odoo, ainsi qu’à un support technique dédié.</p>
        </div>

    </section>

    <div class="form-container">
        <h2>Envoyer sa candidature</h2>
        <form>
            <label for="name">Name *</label>
            <input type="text" id="name" name="name" placeholder="Your full name*" required>

            <label for="email">Email *</label>
            <input type="email" id="email" name="email" placeholder="Your email address*" required>

            <label for="phone">Phone *</label>
            <input type="tel" id="phone" name="phone" placeholder="Your phone number*" required>

            <label for="file">Ajouter son CV</label>
            <input type="file" id="file" name="file" accept=".doc,.docx,.pdf,.zip,.rar,.7z,.png,.jpg,.jpeg">
            <p>Only Document, Image or ZIP file. (Max size 8MB)</p>

            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Your phone number*"></textarea>

            <button type="submit">Soumettre</button>
        </form>
    </div>
</main> -->
<div style="text-align: center;">
    <iframe
      src="https://msl-itech.odoo.com/job"
      width="100%"
      height="1200px"
      style="border: none; overflow: hidden;"
      frameborder="0"
      scrolling="no">
    </iframe>
  </div>
  