<div class="scroll-container">
  <div class="scroll-text">
    <span class="scroll-item">
      <i class="fas fa-check-circle"></i>
      {{ "COMPONENTS.TEXT_SLIDE.INTERNATIONAL_STANDARDS" | translate }}
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      {{ "COMPONENTS.TEXT_SLIDE.MOROCCO" | translate }}
      <span class="price">100 MAD HTVA/h</span>
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      {{ "COMPONENTS.TEXT_SLIDE.BELGIUM" | translate }}
      <span class="price">135 € HTVA/h</span>
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      {{ "COMPONENTS.TEXT_SLIDE.CANADA" | translate }}
      <span class="price">205 CAD HTVA/h</span>
    </span>
  </div>
</div>
