<div class="scroll-container">
  <div class="scroll-text">
    <span class="scroll-item">
      <i class="fas fa-check-circle"></i>
      {{ "COMPONENTS.TEXT_SLIDE.INTERNATIONAL_STANDARDS" | translate }}
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      {{ "COMPONENTS.TEXT_SLIDE.MOROCCO" | translate }}
      <span class="price">100 €/h</span>
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      {{ "COMPONENTS.TEXT_SLIDE.BELGIUM" | translate }}
      <span class="price">200 €/h</span>
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      {{ "COMPONENTS.TEXT_SLIDE.CANADA" | translate }}
      <span class="price">200 €/h</span>
    </span>
  </div>
</div>
