<div class="scroll-container">
  <div class="scroll-text">
    <span class="scroll-item">
      <i class="fas fa-check-circle"></i>
      Nos bureaux appliquent les normes internationales
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      Maroc <span class="price">100 €/h</span>
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      Belgique <span class="price">200 €/h</span>
    </span>
    <span class="scroll-item">
      <i class="fas fa-map-marker-alt"></i>
      Canada <span class="price">200 €/h</span>
    </span>
  </div>
</div>
  