<section class="advantages-section">
  <div class="container">
    <h2 class="section-title">
      {{ "COMPONENTS.AVANTAGES.SECTION_TITLE" | translate }}
      <span class="highlight">{{
        "COMPONENTS.AVANTAGES.HIGHLIGHT" | translate
      }}</span>
      {{ "COMPONENTS.AVANTAGES.SUBTITLE" | translate }}
      <div class="subtitle">
        {{ "COMPONENTS.AVANTAGES.PARTNER_SUBTITLE" | translate }}
      </div>
    </h2>

    <div class="advantages-grid">
      <div class="advantage-card">
        <div class="icon-wrapper">
          <i class="fas fa-certificate"></i>
        </div>
        <div class="content">
          <h3>
            {{
              "COMPONENTS.AVANTAGES.ADVANTAGES.CERTIFIED_EXPERTISE.TITLE"
                | translate
            }}
          </h3>
          <p
            [innerHTML]="
              'COMPONENTS.AVANTAGES.ADVANTAGES.CERTIFIED_EXPERTISE.DESCRIPTION'
                | translate
            "
          ></p>
        </div>
      </div>

      <div class="advantage-card">
        <div class="icon-wrapper">
          <i class="fas fa-cogs"></i>
        </div>
        <div class="content">
          <h3>
            {{
              "COMPONENTS.AVANTAGES.ADVANTAGES.CUSTOM_PERSONALIZATION.TITLE"
                | translate
            }}
          </h3>
          <p
            [innerHTML]="
              'COMPONENTS.AVANTAGES.ADVANTAGES.CUSTOM_PERSONALIZATION.DESCRIPTION'
                | translate
            "
          ></p>
        </div>
      </div>

      <div class="advantage-card">
        <div class="icon-wrapper">
          <i class="fas fa-globe"></i>
        </div>
        <div class="content">
          <h3>
            {{
              "COMPONENTS.AVANTAGES.ADVANTAGES.INTERNATIONAL_PRESENCE.TITLE"
                | translate
            }}
          </h3>
          <p
            [innerHTML]="
              'COMPONENTS.AVANTAGES.ADVANTAGES.INTERNATIONAL_PRESENCE.DESCRIPTION'
                | translate
            "
          ></p>
        </div>
      </div>

      <div class="advantage-card">
        <div class="icon-wrapper">
          <i class="fas fa-money-bill-wave"></i>
        </div>
        <div class="content">
          <h3>
            {{
              "COMPONENTS.AVANTAGES.ADVANTAGES.COMPETITIVE_COSTS.TITLE"
                | translate
            }}
          </h3>
          <p
            [innerHTML]="
              'COMPONENTS.AVANTAGES.ADVANTAGES.COMPETITIVE_COSTS.DESCRIPTION'
                | translate
            "
          ></p>
        </div>
      </div>
    </div>
  </div>
</section>
