<div class="reasons-container">
  <h2 class="title">Découvrez <span style="color: #f0c300;">4 raisons</span> de choisir MSL Itech, Partenaire Certifié Odoo</h2>

  <div class="reasons-list">
    <div class="reason-item">
      <fa-icon [icon]="['fas', 'certificate']" aria-hidden="true" title="Expertise Certifiée Odoo"></fa-icon>
      <h3>Expertise Certifiée Odoo</h3>
      <p>
        En tant que <strong>Partenaire Certifié Odoo</strong>, MSL Itech vous assure un déploiement ERP 
        de qualité, avec une maîtrise complète des modules Odoo et des bonnes pratiques.
      </p>
    </div>

    <div class="reason-item">
      <fa-icon [icon]="['fas', 'cogs']" aria-hidden="true" title="Personnalisation sur mesure"></fa-icon>
      <h3>Personnalisation sur Mesure</h3>
      <p>
        Chaque entreprise est unique ! Nous adaptons Odoo à vos besoins spécifiques avec des fonctionnalités 
        sur mesure et une <strong>intégration complète</strong> à vos systèmes existants.
      </p>
    </div>

    <div class="reason-item">
      <fa-icon [icon]="['fas', 'globe']" aria-hidden="true" title="Présence Internationale"></fa-icon>
      <h3>Présence Internationale</h3>
      <p>
        MSL Itech, avec des bureaux en <strong>Belgique</strong>, <strong>Canada</strong> et <strong>Maroc</strong>, 
        applique un standard de qualité reconnu à l’échelle mondiale.
      </p>
    </div>

    <div class="reason-item">
      <fa-icon [icon]="['fas', 'money-bill-wave']" aria-hidden="true" title="Coûts Compétitifs au Maroc"></fa-icon>
      <h3>Coûts Compétitifs au Maroc</h3>
      <p>
        Nos services au <strong>Maroc</strong> offrent un excellent rapport qualité-prix, vous permettant de bénéficier 
        de solutions Odoo performantes à un coût réduit.
      </p>
    </div>
  </div>
</div>
