<div id="iframeContainer" style="text-align: center; height: 200px !important">
  <iframe #iframe
          src="https://msl-itech.odoo.com/contactus"
          style="border: none; width: 100%; "></iframe>
</div>


      

       <!-- <div >
        <app-header></app-header>
        <div id="iframeContainer" style="flex: 1; overflow:scroll;">
          <iframe src="https://msl-itech.odoo.com/contactus"
                  style="border: none; width: 100%; height: 1000px;">
          </iframe>
        </div>
        <app-footer></app-footer>
      </div>
       -->