<div class="header-section" id="header">
    <h1 id="sticky-title">Un Besoin, Une Application: <br>Transformez Vos Idées en Réalité</h1>
    <div class="video">
        <div class="figure">
            <img src="../../assets/img/figure/image 1.svg"/>
        </div>
        <div class="video-wrapper">
           
            <video controls>
                <source src="votre_video.mp4" type="video/mp4">
                Votre navigateur ne supporte pas la vidéo.
            </video>
        </div>
    </div>
</div>

<div class="content-section">
    <p>
        Chez MSL-ITECH, nous transformons vos idées en projets concrets grâce à la puissance d’Odoo. En combinant notre expertise avec les capacités flexibles d’Odoo, nous analysons vos besoins, personnalisons les modules pour répondre spécifiquement à vos attentes, en déployant des solutions intégrées qui optimisent vos opérations. Chaque projet est géré...
    </p>
</div>

<div class="container-wrapper">
    <div class="bg-green">
        
    </div>
    <div class="left-column">
        <div class="starter">
            <h1>La Comptabilité avec Odoo</h1>
        </div>
        <section id="Comptabilité" class="section">
            <h2>Comptabilité</h2>
            <p>Odoo CRM est le véritable outil central sur le chemin pour tous vos besoins commerciaux...</p>
        </section>
        <section id="Facturation" class="section">
            <h2>Facturation</h2>
            <p>Créez instantanément des devis clairs, professionnels et interactifs...</p>
        </section>
        <section id="Note-de-Frais" class="section">
            <h2>Note de Frais</h2>
            <p>Odoo Point de vente est intuitif, donc peu importe où vous êtes...</p>
        </section>
        <section id="Document" class="section">
            <h2>Document</h2>
            <p>Simplifiez la facturation récurrente et la gestion des abonnés...</p>
        </section>
        <section id="Feuille-de-calcul" class="section">
            <h2>Feuille de calcul</h2>
            <p>L'application Location d'Odoo est un moyen simple de paramétrer l'activité de location...</p>
        </section>
    </div>
    <div class="right-column">
        <div class="image-container">
            <img id="dynamic-image" src="assets/img/servicePage/hero_image.jpg" alt="CRM Image">
        </div>
    </div>
</div>
<app-avantages-odoo></app-avantages-odoo>