.custom-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.spinner-content {
  text-align: center;
  max-width: 90%;
  max-height: 90%;
}

.giphy-embed {
  width: 100%;
  height: auto;
  max-width: 280px; /* Par défaut */
  max-height: 280px; /* Par défaut */
}



/* Mobile (petits écrans) */
@media screen and (max-width: 576px) {
  .giphy-embed {
    max-width: 200px;
    max-height: 200px;
  }
}

/* Tablette (écrans moyens) */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .giphy-embed {
    max-width: 250px;
    max-height: 250px;
  }
}

/* Desktop (grands écrans) */
@media screen and (min-width: 993px) {
  .giphy-embed {
    max-width: 280px;
    max-height: 280px;
  }
}
