<section class="packages-section">
    <h1>Nos Packages métiers</h1>
    <h2>Nous offrons des services sur mesure</h2>
    <div class="packages">
        <div class="package-card basic">
            <div class="package-header">
                <div class="icon basic-icon">
                    <img src="../../assets/svg/met1.svg">
                </div>
                <h3>Pour les individus <span>Basic</span></h3>
            </div>
            <p>Lorem ipsum dolor sit amet doloroil sitol conse ctetur adipisicing elit.</p>
            <h4>Des besoins ?</h4>
            <ul>
                <li><span class="check-icon"></span> CRM</li>
                <li><span class="check-icon"></span> Gestion de projet</li>
                <li><span class="check-icon"></span> Comptabilité</li>
                <li><span class="check-icon"></span> Vente</li>
                <li><span class="check-icon"></span> TimeSheets</li>
            </ul>
            <div class="center">
                <button>Voir les services</button>
            </div>
        </div>
        <div class="package-card pro">
            <div class="package-header">
                <div class="icon pro-icon">
                   <img src="../../assets/svg/met2.svg">
                </div>
                <h3>Pour les startups <span style="color: white;">Pro</span></h3>
            </div>
            <p>Lorem ipsum dolor sit amet doloroil sitol conse ctetur adipisicing elit.</p>
            <h4>Des besoins ?</h4>
            <ul>
                <li><span class="check-icon"></span> CRM</li>
                <li><span class="check-icon"></span> Gestion de projet</li>
                <li><span class="check-icon"></span> Comptabilité</li>
                <li><span class="check-icon"></span> Vente</li>
                <li><span class="check-icon"></span> TimeSheets</li>
            </ul>
            <div class="center">
            <button>Voir les services</button>
            </div>
        </div>
        <div class="package-card enterprise">
            <div class="package-header">
                <div class="icon enterprise-icon">
                    <img src="../../assets/svg/met3.svg">
                </div>
                <h3>Pour les grosses entreprises <span>Enterprise</span></h3>
            </div>
            <p>Lorem ipsum dolor sit amet doloroil sitol conse ctetur adipisicing elit.</p>
            <h4>Des besoins ?</h4>
            <ul>
                <li><span class="check-icon"></span> CRM</li>
                <li><span class="check-icon"></span> Gestion de projet</li>
                <li><span class="check-icon"></span> Comptabilité</li>
                <li><span class="check-icon"></span> Vente</li>
                <li><span class="check-icon"></span> TimeSheets</li>
            </ul>
            <div class="center">
                <button>Voir les services</button>
            </div>
        </div>
    </div>
</section>