<section class="packages-section">
    <h1>Nos Packages métiers</h1>
    <h2>Nous offrons des services sur mesure</h2>
    <div class="packages">
        <div class="package-card basic">
            <div class="package-header">
                <div class="icon basic-icon">
                    <img src="../../assets/svg/met1.svg">
                </div>
                <h3>Commerciale</h3>
            </div>
            <p>Bénéficiez d’outils puissants, d’un suivi personnalisé et de stratégies éprouvées qui dynamiseront vos ventes et boosteront votre croissance.</p>
            <h4>Modules concernés</h4>
            <ul>
                <li><span class="check-icon"></span> CRM</li>
                <li><span class="check-icon"></span> Facturation</li>
                <li><span class="check-icon"></span> Vente Basic</li>
                <li><span class="check-icon"></span> Supports Basic</li>
            </ul>
            <div class="center">
                <button routerLink="/performance">Voir les services</button>
            </div>
        </div>
        <div class="package-card pro">
            <div class="package-header">
                <div class="icon pro-icon">
                   <img src="../../assets/svg/met2.svg">
                </div>
                <h3>Administratif</h3>
            </div>
            <p>Offrez à votre équipe des outils innovants et un accompagnement d’experts pour stimuler vos ventes et satisfaire vos clients.</p>
            <h4>Modules concernés</h4>
            <ul>
                <li><span class="check-icon"></span> CRM</li>
                <li><span class="check-icon"></span> Facturation</li>
                <li><span class="check-icon"></span> Vente Avancée</li>
                <li><span class="check-icon"></span> Supports Avancée</li>
            </ul>
            <div class="center">
                <button routerLink="/perf">Voir les services</button>
            </div>
        </div>
    </div>
</section>
