
<section class="hero-section">
    <div class="hero-image">
        <div class="overlay"></div>
        <div class="hero-content">
            <h1>Un Besoin, Une Application: <br>Transformez Vos Idées en Réalité avec <span>MSL-ITECH</span></h1>
            <a href="#" class="btn-yellow">Passer un rendez-vous</a>
        </div>
    </div>
</section>

<section class="apps-section">
    <div class="container2">
        <div class="text-content">
            <h2>Nous vous Installons des applications <span>Odoo</span></h2>
            <p>Chez MSL-ITECH, nous transformons vos idées en projets concrets grâce à notre expertise et à la flexibilité d’Odoo.
                Nous analysons vos besoins et personnalisons des solutions adaptées à vos attentes.
                Chaque module est conçu pour optimiser vos opérations et garantir des résultats efficaces.
            </p>
        </div>
        <div>
            <div class="apps-grid">
                <div class="app-card">
                    <img src="assets/img/service/CRM.png" alt="CRM">
                    <p>CRM</p>
                </div>
                <div class="app-card">
                    <img src="assets/img/service/icon.svg.png" alt="Comptabilité">
                    <p>Comptabilité</p>
                </div>
                <div class="app-card">
                    <img src="assets/img/service/Clip path group.png" alt="Site Web">
                    <p>Site Web</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-1.png" alt="Point de Vente">
                    <p>Point de Vente</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-2.png" alt="Inventaire">
                    <p>Inventaire</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-3.png" alt="Fabrication">
                    <p>Fabrication</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-4.png" alt="Marketing Social">
                    <p>Marketing Social</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-5.png" alt="TimeSheet">
                    <p>TimeSheet</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-6.png" alt="Projet">
                    <p>Projet</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/hr.png" alt="HR">
                    <p>HR</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-7.png" alt="Documents">
                    <p>Documents</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-8.png" alt="Assistance">
                    <p>Assistance</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-9.png" alt="Achats">
                    <p>Achats</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-10.png" alt="Abonnement">
                    <p>Abonnement</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-11.png" alt="Location">
                    <p>Location</p>
                </div>
                <div class="app-card">
                    <img src="../../assets/img/service/icon.svg-12.png" alt="Discussion">
                    <p>Discussion</p>
                </div>
            </div>
            <div class="view-plus" style="display:flex;justify-content: end;">
                <span>Voir plus <i class="fa-solid fa-arrow-right"></i></span>
            </div>


        </div>

    </div>

</section>
<app-feature></app-feature>