<section>
  <div class="blog-articles">
    <div class="section-header">
      <div class="section-header--text">
        <h2>{{ "COMPONENTS.BLOG.TITLE" | translate }}</h2>
        <p>
          {{ "COMPONENTS.BLOG.SUBTITLE" | translate }}
        </p>
      </div>
      <div class="see-more">
        <button (click)="goToBlogPage()" class="btn-see-more">
          {{ "COMPONENTS.BLOG.SEE_MORE" | translate }}
        </button>
      </div>
    </div>

    <div class="articles">
      <div class="article-card" *ngFor="let article of articles">
        <div class="article-image-container">
          <img
            [src]="article.image"
            [alt]="article.title"
            class="article-image"
            loading="lazy"
          />
        </div>
        <div class="article-info">
          <span class="article-date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{ article.date | date : "dd MMM yyyy" }}
          </span>
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
          <button (click)="readArticle(article)" class="learn-more">
            {{ "COMPONENTS.BLOG.LEARN_MORE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
