<section class="trust-section">
    <div class="container">
        <div class="content-left">
            <img src="../../assets/img/accueil/femme.png" alt="Image d'expert">
        </div>
        <div class="content-right">
            <h3>FAITES-NOUS CONFIANCE</h3>
            <div class="underline"></div>
            <h1>Une expertise multiculturelle au service de vos projets</h1>
            <p>Nous combinons des compétences diversifiées et une approche globale pour répondre à vos besoins avec professionnalisme et efficacité.</p>
            <button class="cta-button" routerLink="/reserve-demo">Soumettre votre besoin</button>
        </div>
    </div>
</section>
