<div class="pricing-page container-fluid p-0">
  <!-- Banner Section -->
  <div class="banner-section position-relative" data-aos="fade-in">
    <img
      src="../../assets/img/webp/4.webp"
      alt="MSL Itech Banner"
      class="img-fluid w-100"
    />
    <div class="overlay-text d-flex align-items-center justify-content-center">
      <div class="text-center text-white px-3">
        <h1 class="display-4">
          {{ "PAGES.TARIF_ODOO.BANNER.TITLE" | translate }}
        </h1>
        <p class="lead" data-aos="fade-up" data-aos-delay="200">
          {{ "PAGES.TARIF_ODOO.BANNER.SUBTITLE" | translate }}
        </p>
      </div>
    </div>
  </div>

  <!-- Section Pourquoi choisir MSL Itech -->
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2 text-center" data-aos="fade-left">
        <img
          src="../../assets/img/webp/10.webp"
          alt="Intégration Odoo"
          class="img-fluid rounded-custom shadow-sm"
        />
      </div>
      <div class="col-md-6 order-md-1" data-aos="fade-right">
        <h2 class="text-primary--custom">
          {{ "PAGES.TARIF_ODOO.WHY_CHOOSE.TITLE" | translate }}
        </h2>
        <p class="lead">
          {{ "PAGES.TARIF_ODOO.WHY_CHOOSE.DESCRIPTION" | translate }}
        </p>
        <p
          [innerHTML]="'PAGES.TARIF_ODOO.WHY_CHOOSE.HIGHLIGHT' | translate"
        ></p>
        <button
          class="btn btn-bg-primary mt-3"
          data-aos="zoom-in"
          (click)="goToRendezVous()"
        >
          {{ "PAGES.TARIF_ODOO.WHY_CHOOSE.BUTTON" | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Section Comment en bénéficier -->
  <div class="container-fluid bg-custom py-5" data-aos="fade-up">
    <div class="container color-white">
      <div class="row align-items-center">
        <!-- Texte avec liste -->
        <div class="col-md-6" data-aos="fade-right">
          <h2 class="text-custom">
            {{ "PAGES.TARIF_ODOO.HOW_BENEFIT.TITLE" | translate }}
          </h2>
          <p>
            {{ "PAGES.TARIF_ODOO.HOW_BENEFIT.DESCRIPTION" | translate }}
          </p>
          <ul
            class="list-unstyled mt-4"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <li>
              <i class="fas fa-check-circle text-warning me-2"></i
              >{{
                "PAGES.TARIF_ODOO.HOW_BENEFIT.FEATURES.COMPETITIVE_PACKS"
                  | translate
              }}
            </li>
            <li>
              <i class="fas fa-check-circle text-warning me-2"></i
              >{{
                "PAGES.TARIF_ODOO.HOW_BENEFIT.FEATURES.HIGH_EXPERTISE"
                  | translate
              }}
            </li>
            <li>
              <i class="fas fa-check-circle text-warning me-2"></i
              >{{
                "PAGES.TARIF_ODOO.HOW_BENEFIT.FEATURES.DISCOUNTS" | translate
              }}
            </li>
            <li>
              <i class="fas fa-check-circle text-warning me-2"></i
              >{{
                "PAGES.TARIF_ODOO.HOW_BENEFIT.FEATURES.FULL_ACCESS" | translate
              }}
            </li>
          </ul>
        </div>
        <!-- Image -->
        <div class="col-md-6 text-center" data-aos="fade-left">
          <img
            src="../../assets/img/webp/grande17.webp"
            alt="MSL Itech - Odoo Integration"
            class="img-fluid rounded shadow-sm"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Section Découvrez nos différents packages -->
  <div class="container my-5" data-aos="fade-up">
    <div class="text-center mb-4">
      <h2 class="text-primary--custom">
        {{ "PAGES.TARIF_ODOO.PACKAGES.TITLE" | translate }}
      </h2>
      <p class="text-muted">
        {{ "PAGES.TARIF_ODOO.PACKAGES.SUBTITLE" | translate }}
      </p>
    </div>
    <div class="table-responsive" data-aos="zoom-in">
      <table class="table table-hover text-center align-middle">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-primary--custom">
              {{ "PAGES.TARIF_ODOO.PACKAGES.EXPERT_DEDICATED" | translate }}
            </th>
            <th scope="col" class="bg-warning-subtle">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.PACKAGES_TYPES.ESSENTIAL" | translate
              }}
              <span
                class="info-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                [title]="
                  'PAGES.TARIF_ODOO.PACKAGES.TOOLTIPS.ESSENTIAL' | translate
                "
              >
                <i class="fas fa-info-circle"></i>
              </span>
            </th>
            <th scope="col" class="bg-primary-subtle">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.PACKAGES_TYPES.STANDARD" | translate
              }}
              <span
                class="info-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                [title]="
                  'PAGES.TARIF_ODOO.PACKAGES.TOOLTIPS.STANDARD' | translate
                "
              >
                <i class="fas fa-info-circle"></i>
              </span>
            </th>
            <th scope="col" class="bg-danger-subtle">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.PACKAGES_TYPES.ADVANCED" | translate
              }}
              <span
                class="info-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                [title]="
                  'PAGES.TARIF_ODOO.PACKAGES.TOOLTIPS.ADVANCED' | translate
                "
              >
                <i class="fas fa-info-circle"></i>
              </span>
            </th>
            <th scope="col" class="bg-success-subtle">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.PACKAGES_TYPES.PREMIUM" | translate
              }}
              <span
                class="info-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                [title]="
                  'PAGES.TARIF_ODOO.PACKAGES.TOOLTIPS.PREMIUM' | translate
                "
              >
                <i class="fas fa-info-circle"></i>
              </span>
            </th>
            <th scope="col" class="bg-info-subtle">
              {{ "PAGES.TARIF_ODOO.PACKAGES.PACKAGES_TYPES.VIP" | translate }}
              <span
                class="info-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                [title]="'PAGES.TARIF_ODOO.PACKAGES.TOOLTIPS.VIP' | translate"
              >
                <i class="fas fa-info-circle"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.RECOMMENDED_FOR.TITLE" | translate
              }}
            </td>
            <td>
              {{
                "PAGES.TARIF_ODOO.PACKAGES.RECOMMENDED_FOR.ESSENTIAL"
                  | translate
              }}
            </td>
            <td>
              {{
                "PAGES.TARIF_ODOO.PACKAGES.RECOMMENDED_FOR.STANDARD" | translate
              }}
            </td>
            <td>
              {{
                "PAGES.TARIF_ODOO.PACKAGES.RECOMMENDED_FOR.ADVANCED" | translate
              }}
            </td>
            <td>
              {{
                "PAGES.TARIF_ODOO.PACKAGES.RECOMMENDED_FOR.PREMIUM" | translate
              }}
            </td>
            <td>
              {{ "PAGES.TARIF_ODOO.PACKAGES.RECOMMENDED_FOR.VIP" | translate }}
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{ "PAGES.TARIF_ODOO.PACKAGES.EXPERT_DEDICATED" | translate }}
            </td>
            <td><strong>4 heures</strong></td>
            <td><strong>10 heures</strong></td>
            <td><strong>25 heures</strong></td>
            <td><strong>50 heures</strong></td>
            <td><strong>100 heures</strong></td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.PROJECT_MANAGEMENT"
                  | translate
              }}
            </td>
            <td></td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.MULTICHANNEL_SUPPORT"
                  | translate
              }}
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.TOOL_TRAINING" | translate
              }}
            </td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.CONFIGURATION" | translate
              }}
            </td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{ "PAGES.TARIF_ODOO.PACKAGES.FEATURES.DATA_IMPORT" | translate }}
            </td>
            <td></td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.DATA_OPTIMIZATION"
                  | translate
              }}
            </td>
            <td></td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.APP_CUSTOMIZATION"
                  | translate
              }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{ "PAGES.TARIF_ODOO.PACKAGES.FEATURES.AUTOMATION" | translate }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.CUSTOM_DEVELOPMENT"
                  | translate
              }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr>
            <td class="text-start">
              {{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.MEMBERSHIP_OFFER"
                  | translate
              }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
            <td>
              <i class="fas fa-check text-success" aria-label="Disponible"></i>
            </td>
          </tr>
          <tr class="table-light">
            <td class="text-start">
              <strong>{{
                "PAGES.TARIF_ODOO.PACKAGES.FEATURES.NEW_CLIENT_PRICE"
                  | translate
              }}</strong>
              <span class="text-muted">
                /
                {{
                  "PAGES.TARIF_ODOO.PACKAGES.FEATURES.OLD_CLIENT_PRICE"
                    | translate
                }}</span
              >
            </td>
            <td class="p-3">
              <div
                class="d-flex justify-content-center align-items-baseline gap-2"
              >
                <strong>{{ getNewClientPrice("4h") }}</strong>
                <span class="text-muted">/</span>
                <span class="text-muted">{{ getPrice("4h") }}</span>
              </div>
            </td>
            <td class="p-3">
              <div
                class="d-flex justify-content-center align-items-baseline gap-2"
              >
                <strong>{{ getNewClientPrice("10h") }}</strong>
                <span class="text-muted">/</span>
                <span class="text-muted">{{ getPrice("10h") }}</span>
              </div>
            </td>
            <td class="p-3">
              <div
                class="d-flex justify-content-center align-items-baseline gap-2"
              >
                <strong>{{ getNewClientPrice("25h") }}</strong>
                <span class="text-muted">/</span>
                <span class="text-muted">{{ getPrice("25h") }}</span>
              </div>
            </td>
            <td class="p-3">
              <div
                class="d-flex justify-content-center align-items-baseline gap-2"
              >
                <strong>{{ getNewClientPrice("50h") }}</strong>
                <span class="text-muted">/</span>
                <span class="text-muted">{{ getPrice("50h") }}</span>
              </div>
            </td>
            <td class="p-3">
              <div
                class="d-flex justify-content-center align-items-baseline gap-2"
              >
                <strong>{{ getNewClientPrice("100h") }}</strong>
                <span class="text-muted">/</span>
                <span class="text-muted">{{ getPrice("100h") }}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-2" data-aos="fade-up" data-aos-delay="200">
      <p class="styled-line">
        <strong>MSL Conseils - Belgique:</strong>
        <span>135 € HTVA par heure</span>
        <span>Teams / Google Meet / déplacement facturé</span>
      </p>
      <p class="styled-line">
        <strong>MSL Canada - Canada:</strong>
        <span>205 CAD HTVA par heure</span>
        <span>Teams / Google Meet / déplacement facturé</span>
      </p>
      <p>{{ "PAGES.TARIF_ODOO.PACKAGES.NOTES.DATA_CLEANING" | translate }}</p>
      <p>
        {{ "PAGES.TARIF_ODOO.PACKAGES.NOTES.CUSTOMIZATION" | translate }}
      </p>
    </div>
  </div>

  <!-- Section Payroll Belge et Canadien -->
  <section class="bg-custom" data-aos="fade-up">
    <div class="container py-5">
      <div class="text-center mb-4">
        <h2 class="text-custom">
          {{ "PAGES.TARIF_ODOO.PAYROLL.TITLE" | translate }}
        </h2>
        <p class="text-white">
          {{ "PAGES.TARIF_ODOO.PAYROLL.SUBTITLE" | translate }}
        </p>
      </div>
      <div class="row justify-content-center msl-itech-cards">
        <!-- Carte MSL-iTech Belgique -->
        <div
          class="col-md-6 col-lg-4 mb-4"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="card shadow-sm border-0 h-100">
            <div class="card-header card-header-belgique text-center">
              <div class="country-icon">🇧🇪</div>
              <h5 class="card-title mb-0">MSL-iTech Belgique</h5>
            </div>
            <div class="card-body d-flex flex-column">
              <div class="price-container">
                <div class="price display-4 text-center">135 € HTVA</div>
                <div class="time text-center">Par Heure</div>
              </div>
              <p class="card-text text-center mb-4">
                {{ "PAGES.TARIF_ODOO.PAYROLL.CONTACT_INFO" | translate }}
              </p>
              <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{ "PAGES.TARIF_ODOO.PAYROLL.FEATURES.TEAMS" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{
                    "PAGES.TARIF_ODOO.PAYROLL.FEATURES.GOOGLE_MEET" | translate
                  }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{
                    "PAGES.TARIF_ODOO.PAYROLL.FEATURES.TRAVEL_BILLED"
                      | translate
                  }}
                </li>
              </ul>
              <button
                class="btn w-100 mt-auto"
                data-aos="fade-up"
                (click)="goToRendezVous()"
              >
                <span>Prendre Rendez-vous</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Carte MSL-iTech Canada -->
        <div
          class="col-md-6 col-lg-4 mb-4"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="card shadow-sm border-0 h-100">
            <div class="card-header card-header-canada text-center">
              <div class="country-icon">🇨🇦</div>
              <h5 class="card-title mb-0">MSL-iTech Canada</h5>
            </div>
            <div class="card-body d-flex flex-column">
              <div class="price-container">
                <div class="price display-4 text-center">205 CAD HTVA</div>
                <div class="time text-center">Par Heure</div>
              </div>
              <p class="card-text text-center mb-4">
                {{ "PAGES.TARIF_ODOO.PAYROLL.CONTACT_INFO" | translate }}
              </p>
              <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{ "PAGES.TARIF_ODOO.PAYROLL.FEATURES.TEAMS" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{
                    "PAGES.TARIF_ODOO.PAYROLL.FEATURES.GOOGLE_MEET" | translate
                  }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{
                    "PAGES.TARIF_ODOO.PAYROLL.FEATURES.TRAVEL_BILLED"
                      | translate
                  }}
                </li>
              </ul>
              <button
                class="btn w-100 mt-auto"
                data-aos="fade-up"
                (click)="goToRendezVous()"
              >
                <span>Prendre Rendez-vous</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Carte MSL-iTech Maroc -->
        <div
          class="col-md-6 col-lg-4 mb-4"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="card shadow-sm border-0 h-100">
            <div class="card-header card-header-maroc text-center">
              <div class="country-icon">🇲🇦</div>
              <h5 class="card-title mb-0">MSL-iTech Maroc</h5>
            </div>
            <div class="card-body d-flex flex-column">
              <div class="price-container">
                <div class="price display-4 text-center">1200 MAD HTVA</div>
                <div class="time text-center">Par Heure</div>
              </div>
              <p class="card-text text-center mb-4">
                {{ "PAGES.TARIF_ODOO.PAYROLL.CONTACT_INFO" | translate }}
              </p>
              <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{ "PAGES.TARIF_ODOO.PAYROLL.FEATURES.TEAMS" | translate }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{
                    "PAGES.TARIF_ODOO.PAYROLL.FEATURES.GOOGLE_MEET" | translate
                  }}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check-circle"></i
                  >{{
                    "PAGES.TARIF_ODOO.PAYROLL.FEATURES.TRAVEL_BILLED"
                      | translate
                  }}
                </li>
              </ul>
              <button
                class="btn w-100 mt-auto"
                data-aos="fade-up"
                (click)="goToRendezVous()"
              >
                <span>Prendre Rendez-vous</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
