<div class="pricing-page container-fluid p-0 ">
    <!-- Banner Section -->
    <div class="banner-section position-relative" data-aos="fade-in">
      <img src="../../assets/img/webp/4.webp" alt="MSL Itech Banner" class="img-fluid w-100">
      <div class="overlay-text d-flex align-items-center justify-content-center">
        <div class="text-center text-white px-3">
          <h1 class="display-4">MSL-itech</h1>
          <p class="lead" data-aos="fade-up" data-aos-delay="200">Des tarifs Odoo qui défient la concurrence, sans compromis sur la qualité !</p>
        </div>
      </div>
    </div>
  
    <!-- Section Pourquoi choisir MSL Itech -->
    <div class="container my-5" >
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2 text-center" data-aos="fade-left">
          <img src="../../assets/img/webp/10.webp" alt="Intégration Odoo" class="img-fluid rounded-custom shadow-sm">
        </div>
        <div class="col-md-6 order-md-1" data-aos="fade-right">
          <h2 class="text-primary--custom">Pourquoi choisir MSL Itech ?</h2>
          <p class="lead">
            Vous cherchez à intégrer Odoo tout en maîtrisant vos coûts ? Chez MSL Itech, nous sommes convaincus que la performance ne doit pas rimer avec surcoût.
          </p>
          <p>
            C’est pourquoi nous avons conçu des <strong>packs horaires compétitifs</strong> pour vous offrir une expertise Odoo de haut niveau à des tarifs imbattables.
          </p>
          <button class="btn btn-bg-primary mt-3" data-aos="zoom-in">Découvrir nos packs</button>
        </div>
      </div>
    </div>
  
    <!-- Section Comment en bénéficier -->
    <div class="container-fluid bg-custom py-5" data-aos="fade-up">
      <div class="container color-white">
        <div class="row align-items-center">
          <!-- Texte avec liste -->
          <div class="col-md-6" data-aos="fade-right">
            <h2 class="text-custom">Comment en bénéficier ?</h2>
            <p>
              Notre offre est ouverte à tout nouveau client ou à toute souscription d’un abonnement annuel. Profitez d’une réduction avantageuse de 15 % à 35 %, vous permettant d’optimiser et de répartir vos dépenses sur la durée, tout en accédant à l’intégralité des normes et modules Odoo.
            </p>
            <ul class="list-unstyled mt-4" data-aos="fade-up" data-aos-delay="200">
              <li><i class="fas fa-check-circle text-warning me-2"></i> Packs horaires compétitifs</li>
              <li><i class="fas fa-check-circle text-warning me-2"></i> Expertise Odoo de haut niveau</li>
              <li><i class="fas fa-check-circle text-warning me-2"></i> Réductions avantageuses jusqu’à 35 %</li>
              <li><i class="fas fa-check-circle text-warning me-2"></i> Accès à toutes les normes et modules Odoo</li>
            </ul>
          </div>
          <!-- Image -->
          <div class="col-md-6 text-center" data-aos="fade-left">
            <img src="../../assets/img/webp/grande17.webp" alt="MSL Itech - Odoo Integration" class="img-fluid rounded shadow-sm">
          </div>
        </div>
      </div>
    </div>
  
    <!-- Section Découvrez nos différents packages -->
    <div class="container my-5" data-aos="fade-up">
      <div class="text-center mb-4">
        <h2 class="text-primary--custom">Découvrez nos différents packages</h2>
        <p class="text-muted">
          Chez MSL-Itech , nous simplifions la gestion de votre entreprise grâce à des solutions sur-mesure, un accompagnement expert et des prix pensés pour vous. 
        </p>
      </div>
      <div class="table-responsive" data-aos="zoom-in">
        <table class="table table-hover text-center align-middle">
          <thead class="table-light">
            <tr>
              <th scope="col" class="text-primary--custom">Expert dédié
              </th>
              <th scope="col" class="bg-warning-subtle">Essentiel
                <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="La solution de base pour démarrer avec Odoo, offrant les fonctionnalités essentielles pour une gestion efficace.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </th>
              <th scope="col" class="bg-primary-subtle">Standard
                <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Une offre complète pour gérer vos processus clés avec plus de flexibilité et d'optimisation.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </th>
              <th scope="col" class="bg-danger-subtle">Avancé
                <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Des fonctionnalités avancées pour des processus plus performants et un meilleur contrôle opérationnel.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </th>
              <th scope="col" class="bg-success-subtle">Prenium
                <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Une solution premium pour une gestion optimisée, avec des outils puissants adaptés à vos besoins spécifiques.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </th>
              <th scope="col" class="bg-info-subtle">VIP
                <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="L’option haut de gamme, offrant une personnalisation complète et un accompagnement dédié pour une gestion d’entreprise optimale.">
                  <i class="fas fa-info-circle"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-start">Recommandé pour :</td>
              <td>Support fondamental</td>
              <td>Découvrir Odoo</td>
              <td>Booster votre activité</td>
              <td>Solutions sur mesure</td>
              <td>Performance Optimale</td>
            </tr>
            <tr>
              <td class="text-start">Expert dédié</td>
              <td><strong>4 heures</strong></td>
              <td><strong>10 heures</strong></td>
              <td><strong>25 heures</strong></td>
              <td><strong>50 heures</strong></td>
              <td><strong>100 heures</strong></td>
            </tr>
            <tr>
              <td class="text-start">Gestion de Projet</td>
              <td></td>
              <td></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Assistance multicanal(E-mail & Téléphone)</td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Formation à l’outil</td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Paramétrage</td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Assistance à l'importation de données *</td>
              <td></td>
              <td></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Optimisation et structuration des données</td>
              <td></td>
              <td></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Personnalisation des Applications **</td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Automatisation</td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Développement sur-mesure</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-check text-success" aria-label="Disponible"></i></td>
            </tr>
            <tr>
              <td class="text-start">Offre d'adhésion</td>
              <td><strong>350 €</strong></td>
              <td><strong>750 €</strong></td>
              <td><strong>1 550 €</strong></td>
              <td><strong>2.337,50 €</strong></td>
              <td><strong>4.250 €</strong></td>
            </tr>
            <tr>
              <td class="text-start table-light">Prix ancien client </td>
              <td class="bg-warning-subtle text-white p-3"><strong>350 €</strong></td>
              <td class="bg-primary-subtle text-white p-3"><strong>750 €</strong></td>
              <td class="bg-danger-subtle text-white p-3"><strong>1 550 €</strong></td>
              <td class="bg-success-subtle text-white p-3"><strong>2.750 €</strong></td>
              <td class="bg-info-subtle text-white p-3"><strong>5.000 €</strong></td>
            </tr>
          </tbody>
        </table>
        
      </div>

      <div class="mt-2" data-aos="fade-up" data-aos-delay="200">
        <p class="styled-line">
          <strong>MSL Conseils - Belgique:</strong>
          <span>135 € HTVA par heure</span>
          <span>Teams / Google Meet / déplacement facturé</span>
        </p>
        <p class="styled-line">
          <strong>MSL Canada - Canada:</strong>
          <span>205 CAD HTVA par heure</span>
          <span>Teams / Google Meet / déplacement facturé</span>
        </p>
        <p>* Nettoyage de données: le nettoyage est fait par vous pour ce cas</p>
        <p>** Personnalisation : Sujette à des frais supplémentaires selon la demande.</p>
      </div>


    </div>
  
    <!-- Section Payroll Belge et Canadien -->
    <section class="bg-custom" data-aos="fade-up">
      <div class="container py-5">
        <div class="text-center mb-4">
          <h2 class="text-custom">Payroll Belge et Canadien</h2>
          <p class="text-white">
            Nous vous offrons des solutions de paie en Belgique et au Canada.
          </p>
        </div>
        <div class="row justify-content-center">
          <!-- Carte Belgique -->
          <div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="card shadow-sm border-0 h-100">
              <div class="card-header text-center">
                <h5 class="card-title mb-0">MSL Conseils - Belgique</h5>
              </div>
              <div class="card-body d-flex flex-column">
                <div class="price display-4 text-center">135 € HTVA</div>
                <div class="time fs-6 text-center mb-3">Par Heure</div>
                <p class="card-text">Prise de contact</p>
                <ul class="list-group list-group-flush mb-3">
                  <li class="list-group-item">
                    <i class="fas fa-check-circle me-2"></i>Teams
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check-circle me-2"></i>Google Meet
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check-circle me-2"></i>Déplacement facturé
                  </li>
                </ul>
                <button class="btn btn-bg-primary w-100 mt-auto" data-aos="fade-up">Choisir ce plan</button>
              </div>
            </div>
          </div>
  
          <!-- Carte Canada -->
          <div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="card shadow-sm border-0 h-100">
              <div class="card-header text-center">
                <h5 class="card-title mb-0">MSL Canada - Canada</h5>
              </div>
              <div class="card-body d-flex flex-column">
                <div class="price display-4 text-center">205 CAD HTVA</div>
                <div class="time fs-6 text-center mb-3">Par Heure</div>
                <p class="card-text">Prise de contact</p>
                <ul class="list-group list-group-flush mb-3">
                  <li class="list-group-item">
                    <i class="fas fa-check-circle me-2"></i>Teams
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check-circle me-2"></i>Google Meet
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check-circle me-2"></i>Déplacement facturé
                  </li>
                </ul>
                <button class="btn btn-bg-primary w-100 mt-auto" data-aos="fade-up">Choisir ce plan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>